@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&family=Montserrat&family=Raleway:ital,wght@0,200;1,100&family=Unbounded:wght@300&display=swap');


body {
    font-family: 'Jost', sans-serif;
    font-weight: 300;
    background-color: #dedede;
    color: #d3b59d;
  }
  .form-control {
    background-color: #e5e5e5;
    color: #000;
    border: 1px solid #000;
    box-shadow: 2px 2px 4px #000;
  }
  .form-control:focus {
    box-shadow: 0 0 0 0.2rem rgba(195, 94, 57, 0.25);
  }
  .btn {
    background-color: #08084a;
    color: #fff;
    border-color: #000;
    box-shadow: 2px 2px 5px #000;
  }
  .btn:hover {
    background-color: #d3b59d;
    color: #000;
    border-color: #000;
    box-shadow: #2d2b27;
  }
  a:hover {
    /* width: 30px; */
    border-bottom: 2px solid orange;
  }